@import 'global-styles/index.scss';

.ContentFilms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.errorText {
  color: var(--text-logo);
  font-family: 'Lato';
  font-weight: 400;
}