@import 'global-styles/index.scss';

.Movie {
  background-color: var(--component-btn-hover);
  margin: 15px 12px;
  width: 170px;
  height: 330px;

  &__poster {
    width: 170px;
    height: 255px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-primary);
  }

  &__btn {
    background-color: var(--component-btn-hover);
    border: none;
    padding: 5px 5px 0px 5px;
    &::before {
      content: url('/../public/icons/Vector_2.png');
      vertical-align: middle;
      cursor: pointer;
      padding-right: 7px;
    }
  }
}