@import "global-styles/index.scss";

.Form__form-container_text {
    color: var(--text-primary);
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.Form__form-container_input {
    background-color: var(--component-btn-default);
    border: 1px solid var(--text-primary);
    border-radius: var(--border-radius-xxs);
    height: 45px;
    min-width: 349px;
}