@import 'global-styles/index.scss';

@mixin btn() {
  font-family: 'Lato';
  font-size: 16px;
  border-radius: var(--border-radius-xs);
  min-width: 247px;
  min-height: 41px;
  cursor: pointer;
  text-decoration: none;
}

@mixin btn_default() {
  @include btn();
  font-weight: 400;
  background-color: var(--component-btn-default);
  text-align: left;
  color: var(--text-primary);
  padding: 10px 0px 10px 12px;
  &:hover {
    background-color: var(--component-btn-hover);
  }
  &::before {
    padding-right: 15.6px;
    vertical-align: middle;
  }
}

.Menu {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-menu);
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 20px;

  &__container {
    min-height: 200px;
    display: flex;
    flex-direction: column;

    &_nav {
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__logo {
    font-family: 'Archivo';
    color: var(--text-logo);
    font-weight: 800;
    font-size: 40px;
    align-self: center;
  }

  &__input-box {
    min-width: 247px;
    height: 35px;
    align-self: center;
  }

  &__btn_home {
    @include btn_default();
    &::before {
      content: url('/../public/icons/Home.png');
    }
  }

  &__btn_history {
    @include btn_default();
    &::before {
      content: url('/../public/icons/history.png');
    }
  }

  &__btn_create {
    @include btn();
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    color: var(--text-btn);
    background-color: var(--component-btn-secondary);
    &:hover {
      background-color: var(--component-btn-secondary-hover);
    }
  }

  &__line {
    border-bottom: 1px solid var(--component-border-default);
  }

  &__list {
    font-family: 'Lato';
    font-weight: 400;
    color: var(--text-secondary);
    font-size: 20px;
    text-align: left;

    &_items {
      overflow-y: auto;
    }

    &Items {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 16px;
      color: var(--text-primary);
      margin-top: 5px;
    }
  }

  &__guest {
    font-family: 'Roboto';
    background-color: var(--component-btn-default);
    border: 1px solid var(--component-border-guest);
    border-radius: var(--border-radius-xxs);
    color: var(--text-primary);
    padding: 6px 0px 6px 10px;
    width: 247px;
    height: 44px;
    text-align: left;
    text-decoration: none;
    &::before {
      content: url('/../public/icons/avatar.png');
      vertical-align: middle;
      padding-right: 10px;
    }
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.input-box {
  background-color: var(--component-btn-default);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--component-border-default);
  &::before {
    content: url('/../public/icons/search.png');
    margin: 0px 10px;
    vertical-align: middle;
  }

  &__input {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    background-color: var(--component-btn-default);
    border: none;
    text-align: left;
    color: var(--text-placeholder);
    min-width: 197px;
    height: 32px;
  }
}