.SearchCart {
    background-color: var(--component-btn-hover);
    display: flex;

    &__poster {
        width: 70px;
        height: 97px;
        padding: 10px;
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        color: var(--text-primary);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__btn {
        background-color: var(--bg-secondary);
        border: none;
        border-radius: var(--border-radius-xxs);
        font-family: 'Lato';
        padding: 5px 5px 0px 5px;
        cursor: pointer;
        &:disabled {
            background-color: var(--component-border-default);
        }
        &::before {
            content: url('/../public/icons/Vector_2.png');
            vertical-align: middle;
            padding-right: 5px;
        }
    }
}