.SearchCart {
    background-color: var(--component-btn-hover);

    &__poster {
        width: 50px;
        height: 75px;
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        color: var(--text-primary);
    }

    &__btn {
        background-color: var(--component-btn-hover);
        border: none;
        &::after {
            content: url('/../public/icons/Vector.png');
            vertical-align: middle;
            cursor: pointer;
        }
    }
}