.CreateWatchlist {
  height: 100vh;
  background-color: var(--bg-main);

  &__wrapper {
    padding: 40px;
  }

  &__header {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 32px;
    color: var(--text-primary);
    margin-bottom: 77px;
  }

  &__inputHeader {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    color: var(--text-primary);
  }

  &__inputName {
    border: 1px solid var(--text-primary);
    border-radius: var(--border-radius-xs);
    background-color: var(--bg-main);
    width: 100%;
  }

  &__btn {
    font-family: 'Lato';
    font-size: 16px;
    border: none;
    border-radius: var(--border-radius-xs);
    min-width: 247px;
    height: 41px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: var(--text-btn);
    background-color: var(--component-btn-secondary);
    &:hover {
      background-color: var(--component-btn-secondary-hover);
    }
  }
}

.name {
  margin-bottom: 57px;
}

.inputName {
  height: 45px;
  margin-top: 5px;
}

.description {
  margin-bottom: 30px;
}

.inputDescription {
  height: 126px;
  margin-top: 5px;
}