.SelectionList {
  height: 100%;
  background-color: var(--bg-main);

  &__wrapper {
    padding: 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 38px;
    color: var(--text-primary);
    margin-bottom: 16px;
  }

  &__overview {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: var(--text-primary);
  }

  &__btn_remove {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    color: var(--component-btn-secondary);
  }

  &__line {
    border-bottom: 1px solid var(--component-border-default);
    margin-top: 50px;
  }
}